@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Work+Sans:wght@400;700&display=swap');
:root {
    /* Colors */
    --variable-collection-bright: rgba(244, 242, 243, 1);
    --variable-collection-accent-green: rgba(110, 152, 135, 1);
    --variable-collection-accent-blue: rgba(123, 140, 222, 1);
    --variable-collection-accent-yellow: rgba(236, 164, 0, 1);
    --variable-collection-dark: rgba(39, 39, 39, 1);

    /* Font Sizes */
    --variable-collection-font-size-small: 12px;
    --variable-collection-font-size-medium: 16px;
    --variable-collection-font-size-large: 20px;
    --variable-collection-font-size-xlarge: 24px;
    --variable-collection-font-size-xxlarge: 32px;

    /* Font Families */
    --variable-collection-font-family-sans-serif: 'Work Sans', sans-serif;
    --variable-collection-font-family-serif: 'Merriweather', serif;
}

body {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--variable-collection-bright);
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 20px 0 10px 0;
    align-items: stretch;
    background-color: #ffffff;
}

.header .first-row {
    display: flex;
    padding: 0 50px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.header .second-row {
    display: flex;
    padding: 0 50px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.header .breadcrumbs {
    display: block;
    font-size: var(--variable-collection-font-size-small);
    font-family: var(--variable-collection-font-family-sans-serif);
}

.header .breadcrumb-link {
    color: var(--variable-collection-accent-green);
    text-decoration: none;
}
.header .breadcrumb-link:hover {
    text-decoration: underline;
}

.header a {
    color: var(--variable-collection-accent-green);
    text-decoration: none;
}

.header .page-title {
    position: relative;
    width: fit-content;
}

.header .page-title sub {
    font-family: var(--variable-collection-font-family-serif);
    font-style: italic;
    background-color: black;
    overflow: hidden;
    background: linear-gradient(to right, var(--variable-collection-accent-green), var(--variable-collection-accent-green) 50%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    padding-right: 5px;
}

.header .page-title a {
    text-decoration: none;
    display: block;
    font-family: var(--variable-collection-font-family-sans-serif);
    font-weight: 400;
    color: #000000;
    font-size: var(--variable-collection-font-size-xxlarge);
    letter-spacing: 0;
    line-height: normal;
    transition: transform 0.1s ease-in-out;
}


.header .page-title:hover a {
    transform: scale(1.05);
}

.header .page-title:hover sub {
    background-position: 0 100%;
}

.header .welcome-text {
    font-family: var(--variable-collection-font-family-sans-serif);
    font-weight: 400;
    color: #000000;
    font-weight: bold;
    font-size: var(--variable-collection-font-size-large);
    letter-spacing: 0;
    line-height: normal;
}

.account-login-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    min-width: 500px;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 75px;
    position: relative;
    flex: 0 0 auto;
    font-family: var(--variable-collection-font-family-sans-serif);
}


.div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    position: relative;
    flex: 0 0 auto;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: var(--variable-collection-bright);
}

.div-wrapper:last-child {
    border: none;
}

.text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--variable-collection-font-family-sans-serif);
    font-weight: 400;
    color: var(--variable-collection-accent-green);
    font-size: var(--variable-collection-font-size-medium);
    letter-spacing: 0;
    line-height: normal;
}

.footer {
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
}

.footer a {
    font-size: var(--variable-collection-font-size-small);
    color: var(--variable-collection-accent-green);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.button {
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0;
    box-shadow: 0 4px 0 0 var(--variable-collection-accent-green);
}


.button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 0 0 var(--variable-collection-accent-green);
}

.button.disabled {
    background-color: white;
    box-shadow: 0 4px 0 0 var(--variable-collection-bright);
}


.button.disabled:active {
    transform: translateY(0px);
    box-shadow: 0 4px 0 0 var(--variable-collection-bright);
}

.link {
    color: var(--variable-collection-accent-green);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 30px;
    min-width: 200px;
}

.search-wrapper .search-input {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding: 0;
    height: 30px;
}

.search-wrapper .search-button {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
}
