.top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.lecture-information {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.lecture-information .lecturers {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.lecturer-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.topics-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
}

.topic-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
}

.topic-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.topic-title-wrapper .topic-title {
    font-weight: bold;
}

.topic-title-wrapper .button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.topic-wrapper .summary {
    padding: 0 50px;
    font-size: var(--variable-collection-font-size-medium);
    font-family: var(--variable-collection-font-family-serif);
}
.topic-wrapper .summary p {
    max-width: 600px;
}
.topic-wrapper .summary ul {
    max-width: 600px;
}

.topic-wrapper .bulletpoint-list {
    list-style: square;
    padding-left: 0;
}

.tag-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tag-wrapper .tag-title {
    flex-basis: 40px;
}
