{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>TLDR; Lecture</title>
    {# TODO: Add Favicon #}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>
  <body>
    <header class="header">
      <div class="page-title">TLDR; <sub>Lectures</sub></div>
      <div class="account-login-wrapper">
        <div class="welcome-text">Welcome, PATRICIA!</div>
        <img class="log-out-icon" src="img/log-out-icon.svg" />
      </div>
    </header>
    <main class="main">
      <div class="content">
        <div class="cards">
          {% if lectures %}
            {# Create Course Cards #}
            {% for lecture in lectures %}
              <div class="course-card">
                <div class="title-frame">
                  <div class="text-wrapper">{{ lecture.lecture_name }}</div>
                </div>
                <div class="lectures-frame">
                  <div class="div">Lectures:</div>
                  <div class="text-wrapper-2">{{ lecture.video_set.count }}</div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="div-wrapper">
        <div class="text-wrapper"><a href="#">About</a></div>
      </div>
      <div class="div-wrapper">
        <div class="text-wrapper"><a href="#">Impressum</a></div>
      </div>
      <div class="div-wrapper">
        <div class="text-wrapper"><a href="#">Video Portal</a></div>
      </div>
    </footer>
  </body>
</html>
