{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>TLDR; Lecture</title>
    {# TODO: Add Favicon #}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'summary.css' %}" />
  </head>

  <body>
    <header class="header">
      <div class="first-row">
        <div class="page-title">
          <a href="/">TLDR; <sub>Lectures</sub></a>
        </div>
        <div class="account-login-wrapper">
          <div class="welcome-text">Welcome, Patricia ✨</div>
          <img class="log-out-icon" src="img/log-out-icon.svg" />
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="breadcrumbs-text">
          <a href="/">Home</a> » <a href="/classes/{{ video.lecture_id.id }}">{{ lecture.lecture_name }}</a> » {{ video.infered_titel }}
        </div>
      </nav>
    </header>
    <main class="main">
      <div class="content">
        <h1>{{ video.infered_titel }}</h1>
        <!-- List of infomations about lecture -->
        <ul class="lecture-information">
          <li>
            Course: <span class="course-name">{{lecture.lecture_name}}</span>
          </li>
          <li>
            Lecturer{% if many_lecturers %}s{%endif%}: {# TODO: Only display 's' if lecture has multiple lecturers #}
            <ul class="professor-list">
              {%for prof in lecturers %}
              <li class="professor">
                {{prof}}
              </li>
{% endfor %}
            </ul>
          </li>
          <li>
            Semester: <span class="semester">{{lecture.semester}} {{video.presentation_date|date:"y"}}</span>
          </li>
          <li>
            <a href={{video.source_url}}>Video Link</a>
          </li>
        </ul>
        <div class="topics-wrapper">
          {% if topic_list %}
            {% for topic in topic_list %}
              <div class="topic-title-wrapper">
                <span class="topic-title">{{ topic.title }}</span>
                <div class="button-wrapper">
                  <button class="less-detailed disabled">Less Details</button>
                  <button class="more-detailed">More Details</button>
                </div>
              </div>

              {# Short Summary #}
              <div class="summary short">
                <ul class="bullet-point-list">
                  {% for bulletpoint in topic.bulletpoints %}
                    <li class="bullet-point">{{ bulletpoint }}</li>
                  {% endfor %}
                </ul>
              </div>

              {# Medium Summary #}
              <div class="summary medium" style="display: none;">{{ topic.summary }}</div>

              {# Long Summary #}
              <div class="summary long" style="display: none;">{{ topic.chunks.0 }}</div> {# TODO: Replace with full implementation #}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="div-wrapper">
        <div class="text-wrapper">
          <a href="/about">About</a>
        </div>
      </div>
      <div class="div-wrapper">
        <div class="text-wrapper">
          <a href="#">Impressum</a>
        </div>
      </div>
      <div class="div-wrapper">
        <div class="text-wrapper">
          <a href="#">Video Portal</a>
        </div>
      </div>
    </footer>
  </body>
</html>
