:root {
    --variable-collection-bright: rgba(244, 242, 243, 1);
    --variable-collection-accent-green: rgba(110, 152, 135, 1);
    --variable-collection-accent-blue: rgba(123, 140, 222, 1);
    --variable-collection-accent-yellow: rgba(236, 164, 0, 1);
    --variable-collection-dark: rgba(39, 39, 39, 1);
  }

.lecture-card-v {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: flex-start;
    gap: 10px;
    padding: 11px 10px;
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lecture-card-v .title-frame {
    display: flex;
    width: 380px;
    align-items: flex-end;
    gap: 10px;
    padding: 0px 10px;
    position: relative;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
  }
  
  .lecture-card-v .text-wrapper {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Merriweather-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lecture-card-v .div {
    position: relative;
    width: 50px;
    height: 38px;
    margin-top: -1px;
    font-family: "Source Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lecture-card-v .div-2 {
    display: flex;
    width: 380px;
    align-items: flex-start;
    gap: 10px;
    padding: 1px 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .lecture-card-v .text-wrapper-2 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Source Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lecture-card-v .text-wrapper-3 {
    position: relative;
    width: 150px;
    margin-top: -1px;
    font-family: "Source Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  